In [1]:
# 先導入資料處理會用到的模組
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

# 可視化模組
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

""" 
Seaborn：讓 Matplotlib 的圖表更美觀的函式庫，
只需匯入便能讓圖表變得更美觀，還能指定數個增加的樣式。
"""

# 機器學習模組
import sklearn

In [2]:
# model train set modify function

def title_map(x):
#     title = 3 if (x != "Mr" and x != "Miss" and x != "Mrs") else x
    title = ''
    if x == "Mr":
        title = 0
    elif x == "Miss" :
        title = 1
    elif x == "Mrs":
        title = 2
    else:
        title = 3
    return title

sex_mapping = { "male": 0 , "female": 1 }

# 登船地點的 Mapping Function
embarked_mapping = { "S": 0 , "C": 1 , "Q": 2 }

# 船艙 Mapping
cabin_mapping = { "A": 0 , "B": 0.4 , "C": 0.8 , "D": 1.2 , "E": 1.6 ,
                  "F": 2 , "G": 2.4 , "T": 2.8 }

# 家族人口的 Mapping Function
family_mapping = { 1: 0 , 2: 0.4 , 3: 0.8 , 4: 1.2 , 5: 1.6 ,
                  6: 2 , 7: 2.4 , 8: 2.8 , 9: 3.2 , 10: 3.6 , 11: 4 }
# 刪除 SibSp, Parch, Ticket
features_drop = ['SibSp', 'Parch', 'Ticket', 'PassengerId']

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 載入測試資料

testset = pd.read_csv('titanic/test-rosejack.csv')

test_target_answer = [ 0, 1 ]
test_target = DataFrame(test_target_answer, columns = ['Survived'])

submit_set = DataFrame(testset['PassengerId'].to_list() , columns = ['PassengerId'])
submit_set['Survived'] = test_target_answer

testset
submit_set

   PassengerId  Survived
0            1         0
1            2         1

In [4]:
# 整理測試資料

testset['Title'] = testset['Name'].str.extract(' ([A-Za-z]+)\.', expand = False)
testset['Title'] = testset['Title'].map(title_map)
testset.drop('Name', axis = 1 , inplace = True)

testset['Sex'] = testset['Sex'].map(sex_mapping)

testset["Age"].fillna(testset.groupby("Title")["Age"].transform("median"), inplace = True)
testset.loc[ testset['Age'] <= 16 , 'Age' ] = 0
testset.loc[ (testset['Age'] > 16) & (testset['Age'] <= 26) , 'Age' ] = 1
testset.loc[ (testset['Age'] > 26) & (testset['Age'] <= 36) , 'Age' ] = 2
testset.loc[ (testset['Age'] > 36) & (testset['Age'] <= 62) , 'Age' ] = 3
testset.loc[ testset['Age'] > 62 , 'Age' ] = 4

testset["Embarked"] = testset["Embarked"].fillna('S')
testset["Embarked"] = testset["Embarked"].map(embarked_mapping)

testset["Fare"].fillna(testset.groupby("Age")["Fare"].transform("median"), inplace = True)

testset.loc[ testset['Fare'] <= 17 , 'Fare' ] = 0
testset.loc[ (testset['Fare'] > 17) & (testset['Fare'] <= 30) , 'Fare' ] = 1
testset.loc[ (testset['Fare'] > 30) & (testset['Fare'] <= 100) , 'Fare' ] = 2
testset.loc[ testset['Fare'] > 100 , 'Fare' ] = 3

testset['Cabin'] = testset['Cabin'].str[:1]
testset["Cabin"] = testset["Cabin"].map(cabin_mapping)
testset["Cabin"].fillna(testset.groupby("Fare")["Cabin"].transform("median"), inplace = True)

testset["FamilySize"] = testset["SibSp"] + testset["Parch"] + 1    # 包括自己本人
testset["FamilySize"] = testset["FamilySize"].map(family_mapping)

testset = testset.drop(features_drop, axis = 1)

testset.info()
testset.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      2 non-null      int64
 1   Sex         2 non-null      int64
 2   Age         2 non-null      float64
 3   Fare        2 non-null      float64
 4   Cabin       2 non-null      float64
 5   Embarked    2 non-null      int64
 6   Title       2 non-null      int64
 7   FamilySize  2 non-null      float64
dtypes: float64(4), int64(4)
memory usage: 256.0 bytes

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0  1.0   0.0    2.0         0      0         0.0
1       1    1  1.0   2.0    0.8         0      1         0.4

In [5]:
# 下次要使用模型時，再 load_model
from keras.models import load_model
DNN_model = load_model('titanic_DNN.h5')

In [6]:
DNN_probability = DNN_model.predict(testset)
# print(probability)

DNN_predict_set = pd.DataFrame()
DNN_predict_set["PassengerId"] = submit_set["PassengerId"]
DNN_predict_set["Survived"] = DNN_probability
# print(predict_set)

def predict_map(x):
#     title = 3 if (x != "Mr" and x != "Miss" and x != "Mrs") else x
    predict = ''
    if x < 0.5:
        predict = 0
    else:
        predict = 1
    return predict

DNN_predict_set["Survived"] = DNN_predict_set["Survived"].map(predict_map) #注意這裡傳入的是函數名，不帶括號。

print(DNN_predict_set)

DNN_predict_set.to_csv("Submission_DNN_test.csv", index = 0)

   PassengerId  Survived
0            1         0
1            2         1

In [7]:
DNN_score = DNN_model.evaluate( x = testset , y = test_target)

print ('\nDNN Test Acc:', DNN_score[1])

1/1 [==============================] - 0s 192ms/step - loss: 0.0838 - acc: 1.0000

DNN Test Acc: 1.0